html, body {
    height: 100%;
    font-family: "arial";
    vertical-align: middle;
}
#wrap {
    margin: 0px auto;
    width: 850px;
}
#intro{
    margin: 0px auto;
    width: 600px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#scoreboard {
    margin: 0px auto;
    width: 455px;
}
.line-div {
    display: block;
    clear: both;
}
.label {
    margin: 0;
    padding: 10px 0 0 0;
    float: left;
}
.score {
    margin: 0;
    padding: 10px 0 0 0;
    float: left;
}

#nav{
    margin: 0px auto;
    width: 600px;
    padding-top: 100px;
    padding-bottom:80px;
}
#prev {float: left;}
#next {float: right;}