* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: "arial";
    vertical-align: middle;
}
#wrap {
    margin: 0px auto;
    width: 250px;
}
#intro {
    margin: 0px auto;
    width: 600px;
    padding-top: 20px;
    font-size: 110%
}
.line-div {
    display: block;
    clear: both;
    margin-bottom: 15px;
}
.label {
    float: left;
    padding-top: 4px;
}
.output {
    float: right;
}
#text-field-label {font-size: 70%}
#submit {
    float: right;
}
#nav{
    margin: 0px auto;
    width: 600px;
    padding-top: 150px;
}
#prev {float: left;}
#next {float: right;}